/*Estilo Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
   
    font-style: normal;
}

body{
    background-color: #03001c;
    height: 100vh;
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.rick-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blue;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: white;
    font-size: 34px;
    text-align: center;
}

h2.titulo span{
  color: rgb(6, 173, 6);
}

button:hover, form .rick-enviar input:hover{
    box-shadow: 0px 0px 8px rgb(0, 0, 255);
    transform: scale(1.05);

}
/*Estilo do cabeçalho*/
header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #707070;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header .menu-desktop ul{
    list-style-type: none;
}

header .menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}





/*Estilo do topo do site*/

section.topodosite{
    padding: 40px 4%;
}

section.topodosite .flex{
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.topodosite h1{
    color: #fff;
    font-size: 40px;
    line-height: 40px;
}

.topodosite .txt-topo-site h1 span{
    color: rgb(6, 173, 6);

}

.topodosite .txt-topo-site p{
   color: #fff;
   margin: 40px 0;
}

.topodosite .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*estilo das especialidades*/
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

section.especialidades .especialidades-box{
    padding: 40px;
    color: #fff;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

section.especialidades .especialidades-box:hover{
   transform: scale(1.05);
   box-shadow: 0 0 20px #ffffff63;
}

section.especialidades .especialidades-box i{
    font-size: 70px;
    color: blue;
}

section.especialidades .especialidades-box img{
    width: 65px;
 
}

section.especialidades .especialidades-box h3{
     font-size: 28px;
     margin: 15px 0;
}

/*Estilo sobre*/

section.sobre{
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
   font-size: 40px;
   line-height: 40px;
   margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    display: block;
    color: green;
 }

 .sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
 }

 .rick-social button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: green;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
 }
 /*ESTILO PORTIFOLIO*/

 section.portifolio{
    padding: 80px 5%;
    box-shadow: 0 0 40px 10px #ffffff0e;
 }
 section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
 }

 .img-port{
    width: 360px;
    height: 460px;
    background-color: green;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
 }

 .img-port:hover{
    background-position: 100% 100%;

 }

 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #03001c42;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
 }
 
 .overlay:hover{
    opacity: 1;
 }

 /*estilo formulario*/

 section.formulario{
    padding: 80px 4%;
 }

 form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
 }

 form input, form textarea{
    width: 100%;
    background-color: rgba(45, 45, 45, 0.683);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
 }

 form textarea{
    resize: none;
    min-height: 200px;
    max-height: 200px;
 }

 form .rick-enviar{
    margin-top: 20px;
    text-align: center;
 }

 form .rick-enviar input{
    width: 120px;
    background-color: green;
    color: #03001c;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
 }

 /*Estilo do footer*/

 footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff0e;
 }

 footer .flex{
    justify-content: space-between;
 }

 footer .line-footer{
    padding: 25px 0;

 }
 .borda{
    border-bottom: 2px solid green;
 }
 footer .line-footer p i{
    color: green;
    font-size: 22px;
    margin-right: 2px;
 }

 footer .line-footer p a{
    color: #fff;
 }

 @media screen and (max-width:1020px) {
    /*classe geral*/
    .flex{
        flex-direction: column;
    }
    h2.titulo{
        font-size: 34px;
        text-align: center;
        line-height: 30px;
    }

    .topodosite .flex {
        flex-direction: column-reverse;
    }
     /*cabeçalho*/
    .menu-desktop, .rick-contato{
        display: none;
    }
     /*topo di site*/
     section.topodosite .flex{
        align-items: center;
        justify-content: center;
        gap: 45px;
    }
     section.topodosite{
        padding: 40px 8%;
    }
    .topodosite h1{
        font-size: 30px;
    }
    .topodosite .img-topo-site img{
        width: 100%;
    }
    /*especialidades*/
    section.especialidades{
        padding: 40px 10%;
    }
    /*sobre*/
    section.sobre{
        padding: 80px 10%;
    }
    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
     }
    section.sobre .flex {
        flex-direction: column-reverse;
    }
    .rick-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }
    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
     }
     section.portifolio .flex{
        gap: 40px;
     }
     footer .flex{
        gap: 30px;
     }
     footer .line-footer{
        text-align: center;

     }
 }
 
 